.inbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    margin: 2rem 1rem;


    .mailList {
        flex: 0.4;
        background-color: #f8fafc;
        min-height: 100vh;
        border-radius: 0.4rem;
    }

    .mailpreview {
        flex: 0.6;
       min-height: 100vh;
    }
}