.app {
  // center the app
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font: 1rem sans-serif;
  background-color: rgb(189, 187, 187);

  .buttons {
    display: flex;
    gap: 10px;
  }

  p {
    font-size: 2rem;
    font-weight: 400;
  }
}